* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
  }
  
@media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

h1, h3 {
    font-weight: bold;
}

.fixed-header {
    position: fixed;
    background-color: #007765;
    z-index: 7;
    

}

header {
    text-align: center;
}

header * {

    color: aliceblue;
}

.menu p {
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease-in;

}

.menu a:hover {
    font-size: 110%;
    background-color: #fff;
    color: #007765;

}


.promo {
    background-image: url('images/backgr1.png');
    background-size: cover;
    text-align: center;

}

.promo h1 {

    color: aliceblue;
}

.theProblem {

    background-color: #eeeeee;
}

.theProblem h1 {

    color: #007765;

}

.theProblem p {

    font-size: 20px;
}

.tagline {
    background-image: url('images/backgr2.png');
    background-size: cover;
    text-align: center;

}

.tagline blockquote {
    font-size: 2em;
    color: aliceblue;
}

.intro h1 {
    text-align: center;
    color: #007765;


}

.intro img {
    float: left;
    width: 5em;
    padding: 0 1em 1em 0;
}

.intro p {
    font-size: 20px;
}

.team {
    background-color: #eeeeee;
}

.team h1 {
    color: #007765;

}

.member {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.member h3 {
    color: #007765;
    font-size: small;
}

.member p {
    text-align: center;
}

.member img {
    width: 5em;
}

footer {
    background-color: #333333;
    text-align: center;
    vertical-align: middle;

}

footer p {
    color: aliceblue;
}

@media only screen and (min-width: 744px) {
    .hamburger-menu .menu__box {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }

    #menu__toggle, .menu__btn {
        display: none;
    }

    .hamburger-menu, .hamburger-menu * {
        padding: 0;
        margin: 0;
    }

    .logo2 {
        display: none;
    }

}

@media only screen and (max-width: 743px) {

    .menu {
        margin: 0;
        padding: 0;
    }
    .logo {
        display: inline-flex;
        justify-content: end;
    }
    .logo2 {
        padding-top: 0.5em;
    }

    .logo1 {
        display: none;
    }
    .p__divider {
        display: none;
    }

    /* скрываем чекбокс */
    #menu__toggle {
        opacity: 0;
    }/* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: fixed;
        top: 20px;
        left: 20px;  
        width: 26px;
        height: 26px;  
        cursor: pointer;
        z-index: 1;
    }/* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;  
        width: 100%;
        height: 2px;  
        background-color:aliceblue;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;  
        width: 100%; 
        margin: 0;
        padding: 80px 0;  
        list-style: none;
        text-align: center;  
        background-color: #007765;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }/* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;  
        color: aliceblue;  
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;  
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }.menu__box {
    transition-duration: .25s;
    }.menu__item {
    transition-duration: .25s;
    }
} 